<!DOCTYPE html>

<html>

<head>
    <title>Welcome</title>
    <style>
        body {
            background-color: beige;
            max-width: 400px;
            padding: 10px;
        }

        h1 {
            color: orange;
            align-content: center;
        }

        p {
            padding: 10px;
        }
    </style>
</head>

<body>
    <h1>Welcome to Brandon's Auth0 App</h1>
    <p>Click the button below to be redirected to login or create an account with Auth0.</p>
    <input type="button" onclick="window.location.href = 'login'" value="Login" />
</body>

</html>